/* 1 */
body {
    background-color: aquamarine;
}

/* 10 */
.header {
    background-color: rgba(149, 246, 13, 0.535);
    padding: 2% 3%;
}

/* 11 */
a[href*="com"] {
    background-color: rgb(128, 96, 0);
    color: black;
}

/* 10 */
.main {
    background-color: blue;
    color: chartreuse;
}

/* 1 */
h1, h2 {
    background-color: rgb(4, 58, 24);
    color: red;
}

/* 1 */
p {
    background-color: rgb(255, 230, 0);
    color: rgb(244, 19, 19);   
}

/* 100 */
#top {
    color: silver;
}

/* 2 */
span ~ p {
    color: red;
}

/* 2 */
section p {
    color: rgb(0, 128, 21);
}

.block {
    background-color: black;
}